ilayer.clsMenuHolder 
{
	layer-background-color: #000084;
}

TD.PanelSeparator, DIV.clsMenu, TR.clsMenuItem, TD.MenuBar, TABLE.clsMenuBar, DIV.clsMenuHolder
{
	background-color : #000084;
}

TR.clsMenuItemHighlight, TD.clsMenuBarHome
{
    BACKGROUND-COLOR: #000084;
}

A.totoplink
{
    COLOR: #000084;
}

DIV.clsMenu A, TD.clsMenuBarItem A, TD.clsMenuBarHome A, TD.clsMenuBarSep A
{
    COLOR: white;
}
			
TD.clsMenuBarItem A:hover, TD.clsMenuBarHome A:hover
{
    COLOR: moccasin
}
			
TD.clsLeftPanel
{
    BACKGROUND-COLOR: #000084;
}

TD.clsLeftPanel2
{
    BACKGROUND-COLOR: #000084;
}

.clsLeftPanelText
{
    COLOR: black;
}

