vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|03 Mar 2009 17:49:30 -0000
vti_extenderversion:SR|5.0.2.6790
vti_cacheddtm:TX|03 Mar 2009 17:49:30 -0000
vti_filesize:IR|304
vti_lineageid:SR|{5BA20520-F176-4D1C-BABE-8F089C2A5DDD}
vti_backlinkinfo:VX|derek/WebGen/booksite/Build/navigator.htm
