<style type="text/css"> 
<!--
.author
{
	font-size : x-small;
	color : black;
	font-family : Arial;
	font-weight : normal;
	text-decoration : none;
}
 
A:hover
{
	font-size : x-small;
	color : #000084;
	font-family : Arial;
	font-weight : bold;
	text-decoration : none;
}
-->
</style>